* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Freight Big Pro";
}

html,
body {
    width: 100%;
    height: 100%;
}

#main {
    width: 100%;
    height: 100%;
    position: relative;
}


/* pge1 css */
.onload{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position:fixed;
}
.onload>h1{
    color: white;
    font-weight: 300;
    font-size: 6.5rem;
    line-height: 4.7rem;
    z-index: 9;
}
.onload>video {
    width: 100%;
    height: 100%;
    background-size: cover;
    object-fit: cover;
    position: absolute;
    z-index: 6;
}
.yellow1{
    width: 100%;
    height: 100%;
    background-color: #F5E41B;
    position: absolute;
    z-index: 8;
}
.yellow2{
    width: 100%;
    height: 100%;
    background-color: #F5E41B;
    position: absolute;
    z-index: 7;
}


.page1 {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #F5E41B;
    color: black;
}
.page1>h1 {
    font-weight: 300;
    font-size: 6.5rem;
    line-height: 4.7rem;
}





.page2{
    width: 100%;
    height: 100vh;
    background-color: black;
}