*{
margin: 0;
padding: 0;
box-sizing: border-box;

}
body,html {
width: 100%;
height: 100%;
}
body{
    overflow-x: hidden;
}

.main{
    background-image: url(https://images.unsplash.com/photo-1529528744093-6f8abeee511d?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
}

.nav{
    display: flex;
    justify-content: space-between;
    padding: 30px 55px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.nav i{
    font-size: 35px;
    cursor: pointer;
}

.fill{
    color: black;
    background-color: rgba(255, 255, 255, 0.6);
    height: 100%;
    width: 32%;
    position: absolute;
    top: 0;
    right: -32%;
    padding: 130px 50px;
    backdrop-filter: blur(10px);
}
.fill h3{
    font-size:2rem;
    margin-bottom: 25px;
}
.fill i{
    background-color: white;
    font-size: 2rem;
    border-radius: 50%;
    position: absolute;
    top: 30px;
    right: 50px;
    cursor: pointer;
}
