* {
    margin: 0;
    padding: 0;
}
.msg{
    background-color: rgb(64, 240, 64);
    color:  white ;
    font-size: 2rem;
    width: 250px;
    margin: 40px auto ;
    text-align: center;
    border: 2px solid green;
    border-radius: 4px;
}
.hide{
    display: none;
}
h1 {
    text-align: center;
    margin-top: 20px;
}

.main {
    margin: auto auto;
    display: flex;
    flex-wrap: wrap;
    width: 60vmin;
    align-items: center;
    justify-content: center;
}

.color1{
    color:white;
}
.box {
    height: 16vmin;
    width: 16vmin;
    margin: 10px;
    padding: 10px;
    background-color: bisque;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-size: 3rem;
    color: black;
}

.resetbtn {
    display: flex;
    font-size: 1.2rem;
    background-color: black;
    color: white;
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin: auto;
    align-items: center;
    margin-top: 20px;
    cursor: pointer;
}
.newgamebtn {
    display: flex;
    font-size: 1.2rem;
    background-color: black;
    color: white;
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin: auto;
    align-items: center;
    margin-top: 20px;
    cursor: pointer;
}
