* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial Narrow', Arial, sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

.arrow{
    background-color: transparent;
    border: 2px solid #a9dd00;
    padding: 80px;
    position: absolute;
    left: -2%;
    top: 550px;
    border-radius: 50%;
    z-index: 10;
    transition: all ease 0.5s;
}
.btn{
    background-color: black;
    border: 2px solid #a9dd00;
    padding: 20px;
    font-size: 1.1rem;
    font-weight: 700;
    color: white;
    border-radius: 50px;
    transition: all ease 0.5s;
    cursor: pointer;
}
.btn:hover{
    background-color: #a9dd00;
    color: black;
}
.arrow:hover{
  background-color: #a9dd00;
  scale: 0.7;
  cursor: pointer;
}
.arrow img{
    height: 5vh;
}

.nav h4 {
    cursor: pointer;
    z-index: 10000;
}
.nav h4:hover{
    color: rgb(98, 98, 98);
}

.nav {
    display: flex;
    height: 145px;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    gap: 60px;
    padding: 0px 120px;
    z-index: 999;
    color: white;
}
.nav img{
    height: 10vh;
}
video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
}

.main {
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
}

.page1 {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 10;
    color: white;
}

.page1 h1 {
    font-size: 7rem;
    font-weight: 900;
    position: relative;
}

.page1 h1::before {
    content: "EAT. DRINK. PLAY.";
    position: absolute;
    color: black;
    top: -5px;
    left: -5px;
    -webkit-text-stroke: 2px #86AE00;
    z-index: -1;
}

.page1 h2 {
    font-size: 2.5rem;
    font-weight: 800;
}

.page1 P {
    font-size: 1.5rem;
    font-weight: 150;
    width: 650px;
    text-align: center;
    margin-top: 20px;
}

.page2 {
    height: 300vh;
    width: 100%;
    z-index: 10;
}

.curser {
    width: 20px;
    height: 20px;
    position: fixed;
    background-color: #a9dd00;
    border-radius: 50%;
    z-index: 99;
    transition: all linear 0.2s;
}

.curserblur {
    width: 500px;
    height: 500px;
    position: fixed;
    background-color: #a9dd003d;
    border-radius: 50%;
    filter: blur(90px);
    z-index: 9;
    transition: all linear 0.4s;
}

.scroller {
    z-index: 10;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    overflow: hidden;
}

.scroller::-webkit-scrollbar {
    display: none;
}

.scroller1 {
    display: inline-block;
    white-space: nowrap;
    animation-name: scroll;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.scroller1 h4 {
    display: inline-block;
    white-space: nowrap;
    font-size: 7rem;
    font-weight: 900;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 50px;
    -webkit-text-stroke: 1px white;
    color: transparent;
    transition: all linear 1.5s;
}

.scroller1 :hover {
    color: #a9dd00;
    cursor: pointer;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}


.aboutus {
    display: flex;
    justify-content: space-evenly;
    margin-top: 8rem;
    align-items: center;
    height: 45vh;
    position: relative;
    z-index: 10;
    color: white;
}

.aboutus img {
    width: 220px;
    height: 220px;
    border-radius: 20px;
}

.mid {
    height: 100%;
    width: 45%;
    text-align: center;
    text-wrap: wrap;
}

.mid h2 {
    font-size: 4rem;
    font-weight: 900;
}

.mid p {
    font-size: 1.4rem;
    padding-top: 20px;
    font-weight: 700;
}


.cardscontainer {
    display: flex;
    justify-content: space-evenly;
    margin-top: 8rem;
    position: relative;
    z-index: 10;
}

.card {
    width: 400px;
    height: 550px;
    text-wrap: wrap;
    border: 2px solid black;
    background-size: cover;
    background-position: center;
    color: black;
}

#card1 {
    background-image: url(card1.avif);
}

#card2 {
    background-image: url(card2.webp);
}

#card3 {
    background-image: url(card3.avif);
}

.overlay {
    background-color: #a9dd00;
    width: 100%;
    height: 100%;
    padding: 10rem 1rem;
    text-wrap: wrap;
    opacity: 0;
    transition: all ease 0.4s;
}

.card:hover .overlay {
    opacity: 1;
}

.card:hover {
    transform: rotate3d(-1, 1, 0, 20deg);
}

.overlay h2 {
    font-size: 3.5rem;
    font-weight: 800;
}

.overlay p {
    padding: 10px;
}

.green {
    display: flex;
    background: linear-gradient(to left bottom, rgb(2, 198, 2), yellow);
    justify-content: space-between;
    padding: 20px;
    margin-top: 150px;
    margin-bottom: 150px;
}

#rot {
    rotate: 180deg;
}

.green h2 {
    width: 50%;
    font-size: 2.5rem;
    font-weight: 800;
    text-align: center;
    margin: auto 20px;
    text-wrap: wrap;
}

.green img {
    height: 40vh;
}




.food{
    display: flex;
    color: white;
    background-color: black;
    padding-bottom: 30vh ;
    justify-content: center;
    gap: 50px;
}
.left{
    width: 80vb;
    height: 50vb;
    overflow: hidden;
    position: relative;
    object-fit: cover;
}
.right{
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 20px;
}
.right>.btn{
    width: 50%;
}
.right p{
    font-size: 4rem;
    font-weight: 700;
}
.right h6{
    font-size: 1.2rem;

}
.snack img{
    width: 100%;
    height: 100%; 
}






.page3 {
    background-color: black;
    color: white;
    position: relative;
    height: 100vh;
}
.page3 img{
    position: absolute;
    height: 10vh;
}
.msg{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.msg img {
    height: 10vh;
}

.msg h2 {
    font-size: 3rem;
    font-weight: 800;
    text-align: center;
    text-wrap: wrap;
    width: 70%;
    margin-top: 60px;
}
.page3 .colon1{
    top: -10%;
    left:15%;
}
.page3 .colon2{
    top: 45%;
    left:80%;
}


.page4{
    position:  relative;
}
.allchoice{
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    height: 50vh;
}
.choice{
    width: 28%;
    height: 22vh;
    background-color: #a9dd00;
    font-size: 3rem;
    text-align: center;
    justify-content: center;
    border-radius: 30px;
    z-index: 10;
    overflow: hidden;
    position: relative;
}
.choice h4:hover{
    color: white;
    background-color: transparent;
    transition: all ease 0.6s;
    cursor: pointer;
}
.allchoice h1{
    position: absolute;
    font-size: 5rem;
    font-weight: 900;
    -webkit-text-stroke: 2px #a9dd00;
    background-color: transparent;
    top: -100px;
    opacity: 1;
}
.choice h4{
    padding-top: 40px;
    height: 100%;
    width: 100%;  
    position: absolute;
    background-color: #a9dd00;
    z-index: 10;
}

.allchoice img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.footer{
    display: flex;
    padding: 30px;
    z-index: 10;
    position: relative;
}
.footer>img{
    height: 30vh;
    position: absolute;
}
#img1{
   height: 15vh;
   z-index: 2;
}
.img{
     height: 2rem;
}
.mo{
    font-size: 3rem;
    font-weight: 900;
}
.mo h4:hover,.rm>h2:hover{
    color: white;
    cursor: pointer;
}
.lm ,.rm,.mo{
  width: 30%;
}

.lm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.rm>h2{
    font-size: 2rem;
}
.rm>h4{
    width: 50%;
    font-size: 1.2rem;
    padding-top: 10px;
}

.all{
    background: linear-gradient(to left bottom, green,yellow);
}
.rightf{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: 500;
    padding-bottom: 20px;
}
