* {
    padding: 0 0;
    margin: 0 0;
    color: white;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

.main {
    width: 100%;
    height: 100%;
}

.page1 {
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page1 h1 {
    font-size: 6.5vw;
    line-height: 7vw;
}

.page1 h1 svg {
    font-size: 2rem;
    height: 5vw;
    width: 5vw;
    background-color: green;
    border-radius: 50%;
}

.page1 p {
    text-align: center;
    font-size: 1.1vw;
    margin-top: 2.3vh;
}

.page1-something {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.page1-something h4 {
    font-weight: 400;
    font-size: 0.9vw;
    padding: 5px 10px;
    border-radius: 50px;
    border: 1px solid white;
    margin: 0px 4px;
    cursor: pointer;
}

.page1-something h4:nth-child(3) {
    border: none;
}


nav {
    position: fixed;
    width: 100%;
    height: 7vw;
    background-color: black;
    display: flex;
    align-items: flex-start;
    padding: 2vw 10vw;
    z-index: 10;
    justify-content: space-between;
}

nav h1 {
    font-size: 1.7vw;
}

nav button {
    background-color: green;
    display: flex;
    padding-left: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    font-size: 0.9vw;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}

nav button svg {
    height: 2.7vw;
}

.nav-part-2 {
    margin-top: 0.8vw;
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.nav-part-2 h4 {
    text-transform: uppercase;
    font-size: 0.8vw;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 2.4vw;
}

.nav-part-2 h5 {
    font-size: 0.8vw;
    font-weight: 400;
    margin-bottom: 0.4vw;
    cursor: pointer;
    display: none;
}

.nav-part-2 h4:hover {
    color: gray;
}

.bottom {
    position: absolute;
    background-color: black;
    top: 100%;
    width: 80%;
    height: 0%;
    border-bottom: 2px solid white;
    display: flex;
    justify-content: center;
    gap: 3vw;
    z-index: -1;
}


.move img {
    width: 3vw;
    height: 2vw;
    margin: 0 1vw;
}

.moving-div {
    width: 80%;
    position: absolute;
    bottom: 4%;
    width: 44%;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 70px;
}

.move {
    display: inline-block;
    gap: 3.5vw;
    animation-name: movinganimation;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes movinganimation {
    0% {
        transform: translate(0);
    }

    100% {
        transform: translate(-100%);
    }
}

.blur-left {
    width: 35%;
    height: 100%;
    position: absolute;
    bottom: 4%;
    left: -5%;
    background-color: red;
    z-index: 2;
    background: linear-gradient(to left, transparent, black);
}

.blur-right {
    width: 35%;
    height: 100%;
    position: absolute;
    background: linear-gradient(to left, black, transparent);
    bottom: 4%;
    right: -5%;
    z-index: 2;
}

.page2 {
    width: 100%;
    height: 100vh;
    background-color: black;
    border-top: 1px solid gray;
    position: relative;
    display: flex;
    padding: 0vw 10vw;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 5vw;
}

.page2-left {
    height: 100%;
    width: 40%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    padding: 4vw 0vw;
}

.page2-left p {
    font-size: 0.8vw;
}

.page2-left h5 {
    font-size: 1vw;
}



.page2-right {
    height: 100%;
    width: 50%;
}

.right-elem {
    position: relative;
    padding-top: 2vw;
    padding-bottom: 5vw;
    border-top: 1px solid gray;

}

.right-elem:hover {
    border-top: 1px solid white;
    cursor: pointer;
}

.right-elem h2 {
    font-size: 1.6vw;
    font-weight: 400;
}

.right-elem img {
    height: 7vw;
    width: 7vw;
    border-radius: 50%;
    position: absolute;
    object-fit: cover;
    opacity: 0;
    scale: 0;
}


.page3 {
    width: 100%;
    height: 90vh;
    background-image: url(card3.avif);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.playbtn h5 {
    font-size: 0.8vw;
    font-weight: 700;
    padding: 8px 12px;
    margin: 10px 0px;
    background-color: white;
    border-radius: 50px;
    color: black;
    opacity: 0;
    position: absolute;
    top: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    transform:translateY(10%) ;
    transition: all ease 0.5s;
}

.playbtn {
    background-color: white;
    position: relative;
    width: 8vw;
    height: 8vw;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all ease 0.5s;
}
.playbtn:hover h5{
    opacity: 1;
    transform: translateY(0%);
}
.icon {
    width: 1.2vw;
    height: 1.2vw;
    background-color: black;
}