*{
margin: 0;
padding: 0;
box-sizing: border-box;
color: white;
}
body,html {
width: 100%;
height: 100%;
}

.main{
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main h1{
    font-size: 4rem;
    font-weight: 800;
    overflow: hidden;
}
h1 span{
   display: inline-block;
}