@font-face {
    font-family: machina;
    src: url("https://db.onlinewebfonts.com/t/38d41072aa88a50711d4d50dd0d50f6b.woff2")format("woff2")
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    font-family: machina;
}

body,
html {
    width: 100%;
    height: 100%;
}

.page1,
.page2,
.page3 {
    width: 100%;
    height: 100vh;
    background-color: black;
}

.move{
    display: flex;
    overflow: hidden;
    background-color: #D9FF06;
}
.marque {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    padding: 5vw 3vw;
    gap: 3vw;
    transform: translateX(-100%);
}

.marque h1 {
    font-size: 4vw;
}

.marque img {
    height: 4.5vw;
}