* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}
html,body{
    width: 100%;
    height: 100%;
}

/* main containt */

#main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: rgb(87, 108, 87);
}
.game{
    width: 80%;
    height: 80%;
    background-color: white;
}





/* top nav */
.top{
    width: 100%;
    height: 80px;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 10px 15px;
    background-color: rgb(22, 59, 22);
}
.elem{
    display: flex;
    gap: 15px;
}
.box{
  background-color: white;
  display: flex;
  padding: 4px 13px;
  color: rgb(16, 143, 14);
  font-size: 1.2rem;
  font-weight: 600;
  align-items: center;
  justify-content: center;
}



/* main game interface */
.bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: calc(100% - 80px);
    flex-grow: inherit;
}
.bottom>h1{
    color:black;
}
.bubble{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: rgb(28, 74, 28);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}

.bubble:hover{
    background-color:rgb(19, 44, 19) ;
}

