*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body,html {
width: 100%;
height: 100%;
}

.main{
    background-color: black;
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.cursor{
    background-color: white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: fixed;
    font-size: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 8;
}
.layer{
    width: 35vw;
    height: 40vh;
    background-color: rgba(255, 0, 0, 0);
    z-index: 10;
    position: absolute;
}
.imgdiv{
    width: 35vw;
    height: 40vh;
    background-image: url(https://images.unsplash.com/photo-1597839219216-a773cb2473e4?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
}