.center {
    text-align: center;
}
body{
   background: linear-gradient(to left, blue,yellow,purple);
}
.button{
    margin: 5px;
   font-size: 1.7rem;
   font-weight: 400;
    width: 70px;
    height: 70px;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
    background-color: aqua;
}
input{
    width: 325px;
    font-size: 2.6rem;
   font-weight: 400;
   border: 2px solid black;
    border-radius: 10px;
}
.container {
    display: flex;
    width: 350px; 
    height: 400px; 
    margin: auto;                                                                                                                                                                                                                                                                     
    flex-direction: column;
}
h1{
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}