*{
margin: 0;
padding: 0;
box-sizing: border-box;
color: black;
}
body,html {
width: 100%;
height: 100%;
}

.main{
    width: 100%;
    height: 100vh;
    position: relative;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
}
.opp{
    display: flex;
    align-items: center;
    gap: 20px;
}
.mid{
    font-size: 3vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}



.page2{
    width: 100%;
    height: 100vh;
    position:absolute;
}