*{
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    justify-content: center;
    background-color: bisque;
}
h1{
    font-size: 3rem;
}
.main{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
}
p{
    font-size: 1.3rem;
}
.flex{
    border: 2px solid gray;
    padding: 0px 5px;
    border-radius: 5px;
}
.flex select{
    font-size: 1.1rem;
    height: 2rem;
    display: flex;
}
.flex img{
    width: 60px;
    height: 50px;
}
form{
   margin-top: 20px;
}
form input{
    margin-top: 10px;
    font-size: 1.1rem;
    border: none;
    outline: none;
    border: 2px solid gray;
    padding: 3px;
    border-radius: 5px;
    width: 100%;
}
form select{
    margin-top: 10px;
    font-size: 1rem;
    border: none;
    outline: none;
    border-radius: 5px;
}
.ex{
    display: flex;
    margin-top: 30px;
}
.ex p {
    font-size: 1.1rem;
}
i{
    font-size: 2rem;
    margin: 30px 30px;
}

.msg{
    font-size: 1.5rem;
    margin-top: 1rem;
}
button{
    font-size: 1.3rem;
    padding: 5px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: 2px solid gray;
    width: 100%;
    cursor: pointer;
}